.video-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video-modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
}

.video-modal-content iframe {
  width: 100%;
  height: 450px;
}

.video-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  border: none;
  font-size: 20px;
  padding: 4px 10px;
  cursor: pointer;
  z-index: 10000;
}
